# pip / setuptools stuff
dist/
MANIFEST
*.egg-info
build/
__pycache__
/output/

# stuff in this project
/rancher_run
*.log

# project data
ignoreme/
*.pyc

# ide files
*.sublime-*
.idea/

# stuff
tmp/
