# pip / setuptools stuff
dist/
MANIFEST
*.egg-info
build/
__pycache__
/output/

# stuff in this project
rancher/haproxy_template.consul
rancher/consul-template
rancher/haproxy.pid
rancher/haproxy.cfg
rancher/nohup.out
*.log

# project data
ignoreme/
*.pyc

# ide files
*.sublime-*
.idea/

# stuff
tmp/
